<div id="ticket">
	<header>
		<h1><%= @project.name %></h1>
	</header>
	<header>
		<h2><%= @ticket.name %></h2>
	</header>
	<%= simple_format(@ticket.description) %>
	<table id="attributes">
	<tr>
		<th>Author:</th>
		<td><%= @ticket.author.email %></td>
	</tr>

	<tr>
		<th>Created: </th>
		<td><%= time_ago_in_words(@ticket.created_at) %></td>
	</tr>
	</table>
	<%= link_to 'Edit Ticket',edit_project_ticket_path(@project),class: "edit" %>
	<%= link_to 'Delete Ticket',[@project,@ticket],method: :delete,class: "delete" %>
</div>
