<% full_title @project.name,"Projects" %>

<div class="well">
	<%= @project.name %>
	<%= @project.description %>
	<%= link_to 'Edit Project',edit_project_path(@project),class: "edit" %>
	<% admin_only do %>
	<%= link_to 'Delete Project',admin_project_path(@project),method: :delete,data: { confirm: 'You sure?' },class: "delete" %>
	<% end %>
	<br>
	<br>
	<%= link_to 'New Ticket',new_project_ticket_path(@project),class: "new"%>

	<ul id="tickets">
		<% @project.tickets.each do |ticket| %>
		<li>
			<%= link_to ticket.name,[@project,ticket] %>
		</li>
		<% end %>
	</ul>
</div>
