<% full_title @project.name,"Projects" %>

<div class="well">
	<%= @project.name %>
	<%= @project.description %>
	<%= link_to 'Edit Project',edit_project_path(@project),class: "edit" %>
	<%= link_to 'Delete Project',@project,method: :delete,data: { confirm: 'You sure?' },class: "delete" %>
	<br>
	<br>
	<%= link_to 'New Ticket',new_project_ticket_path(@project),class: "new"%>
</div>
